<div class="formtoolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick=" submitForm() ">提交</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" plain="true" onclick=" clearForm() ">清除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true" onclick=" back() ">返回</a>
</div>

