<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/easyui/css")
    @Scripts.Render("~/bundles/jquery")
    <style>
        .formtoolbar {
            position: fixed;
            top: 0;
            width: 90%;
            z-index: 999;
            padding: 5px 10px;
            border-bottom: 1px solid #95B8E7;
            background-color: #fff;
            -ms-opacity: 7;
            opacity: 7;
        }

        .formbody {
            margin-top: 40px;
        }
    </style>
    <script>
        $(function () {
            $.extend($.fn.validatebox.defaults.rules, {
                minLength: {
                    validator: function (value, param) {
                        return value.length >= param[0];
                    },
                    message: 'Please enter at least {0} characters.'
                }
            });
            $.extend($.fn.validatebox.defaults.rules, {
                 comboxValidate: {
                      validator: function(value, comboboxId,message) {
                          if ($('#' + comboboxId).combobox('getText') == '请选择') {
                                return false;
                          }
                           return true;
                      },
                      message: "{1}"
                 }
            });
            $.extend($.fn.validatebox.defaults.rules, {
                required: {
                    validator: function (value, param) {
                        if (param.length==0) {
                            return false;
                        }
                        return true;
                    },
                    message: "{1}"
                }
            });
        });
    </script>
</head>
<body class="easyui-layout" style="overflow: auto">
    @RenderBody()
</body>
</html>
