<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="UserInfo" service="UService.Test.IUserTest,UService" type="UService.Test.UserTest,UService" />
    <component id="TaxCalculator" type="UService.Test.TaxCalculator,UService">
      <parameters>
        <Rate>0.25</Rate>
      </parameters>
    </component>
  </components>
</configuration>