<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
    <!--<component service="URepository.Uow.IUnitOfWork,URepository" type="URepository.Uow.DemoUnitOfWorkContext,URepository"/>-->

    <component service="UService.Repositories.IUserRepository,UService" type="UService.Repositories.UserRepository,UService"/>
    <component service="UService.Repositories.IRoleRepository,UService" type="UService.Repositories.RoleRepository,UService"/>
    <component service="UService.Repositories.ISpecimenRepository,UService" type="UService.Repositories.SpecimenRepository,UService"/>
    <component service="UService.Repositories.IRole1Repository,UService" type="UService.Repositories.Role1Repository,UService"/>
    <component service="UService.Test.IUserTest,UService" type="UService.Test.UserTest,UService"/>
    <component service="UWeb.Config.Filter.IActionMethod,UWeb" type="UWeb.Config.Filter.ActionMethod,UWeb"/>
  </components>
</configuration>
